<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="search Word" aria-label="input Word"
        aria-describedby="basic-addon2" [(ngModel)]="inputData">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="!!inputData ? searchWord() : ''">검색</button>
    </div>
</div>
<div class="translate result">
    <div *ngIf="!!translateData && translateData.message">
        {{translateData.message.result.translatedText}}
    </div>
</div>
<div class="remember result">
    <div class="remember__title">검색 History</div>
    <div class="remember__items" *ngIf="!!loadedData">
        <ng-container *ngFor="let data of loadedData; let idx = index;">
            <div class="remember__item">
                <div>
                    {{idx+1}}. 검색어 : {{data.input}} / 
                </div>
                <div>
                    결과 : {{data.result}}
                </div>
                <div class="remember__remove" (click)="removeData(idx)">X</div>
            </div>
        </ng-container>
    </div>
</div>
<app-loading [loading]="loading"></app-loading>